.component-media-video {
  text-align: center;

  &__video-wrapper {
    display: inline-block;
    width: 100%;
    max-width: 1000px;
    height: calc(100vw * 0.5625);
    max-height: 600px;
  }

  &__video {
    width: 100%;
    height: 100%;
  }
}
