@import 'styles/reset';
@import 'styles/colors';

#root {  // sass-lint:disable-line no-ids
  height: 100%;
}

.page-main {
  display: flex;
  flex-direction: column;
  background-color: $color-background;
  min-height: 100%;
  color: $color-text;

  &__content {
    flex-grow: 1;
    flex-shrink: 1;
  }
}
