@import 'styles/helpers/content-aligns';
@import 'styles/colors';

.screen-apod {
  color: $color-text;
  flex-grow: 1;

  &__erro {
    @extend %center-content;
    flex-grow: 1;
    margin-top: 100px;
    font-size: 1.8rem;
  }
}
