@import 'styles/helpers/content-aligns';
@import 'styles/colors';


.component-header {
  @extend %center-content;

  background-color: $color-background-dark;
  height: 74px;
  color: $color-text-light;
  font-size: 3rem;

}
