
.component-media-image {
  text-align: center;

  &__figure {
    display: inline-block;
    text-align: left;
  }

  &__img {
    max-width: 100%;
  }

  &__copyright {
    font-size: 1.1rem;
  }
}
