@import 'styles/helpers/content-aligns';
@import 'styles/colors';


.component-footer {
  @extend %right-center-content;

  background-color: $color-background-dark;
  padding: 5px;

  &__image {
    height: 45px;
  }
}
