@import 'styles/helpers/content-aligns';
@import 'styles/colors';


.component-navigator {
  @extend %center-content;

  padding: 15px;

  &__button {
    margin: 0 5px;
    border-radius: 5px;
    background-color: $color-background-dark;
    cursor: pointer;
    padding: 5px 12px;
    color: $color-text-light;
    font-size: 1.4rem;

    &--disabled {
      background-color: $color-background-disabled;
      cursor: default;
      pointer-events: none;
    }
  }
}
