
.component-apod {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;

  &__title {
    max-width: 1000px;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
  }

  &__media {
    margin-top: 30px;
    width: 100%;
  }

  &__explanation {
    margin-top: 30px;
    max-width: 1000px;
    font-size: 1.6rem;
  }
}
